<a href="https://colab.research.google.com/github/kylehiroyasu/opinion-lab-group-1.3/blob/master/notebooks/Load_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing

The idea of our project is to evaluate text classifiers trained using only pairwise labels to identify entities and attributes.

The basic approach will be that we have various sentences which are labeled referring to a specific entity and attribute. However instead of training a classifier directly on these explicit labels, we will show a model two examples and then tell the model if they contain the same entity/attribute or not.

This means while we are preprocessing data the most important aspects to save are:

- the sentence
- what entity it contains
- what attribute it contains

In general this means we will concentrate on using the `train` and `GOLD` versions of the `SB1` datasets because they contain the sentence level information.

However the following lead to a complicated data model:

- a single text element can have multiple entities/attributes

Ideas for data model:

Since our data is small, and we want to work on the data in a pairiwise sentence fashion, it would be easiest to completely denormalize, and flatten the data down to the sentence level. I will start with basically one python dictionary per sentence, and then we can transform the list of dictionaries into a pandas dataframe.

Questions would be:

- how to do we treat sentences with mutliple entities and attributes
- in the data annotation scheme there is a `general` attribute value, should we use this?
- what about the out-of-scope data?
- in theory we can use sentences with no entity/attribute label as confirmation it doesn't match any given entity/label pair. should this also be done? Does that mean that two sentences with no entity/attribute do match? 
- in terms of tokenization, should we use the same tokenization for both embeddings, or match to how models were trained
- You initially suggest we start with token embeddings, for GloVe this is obviously the only choice, however more modern architectures also include document embeddings, instead of trying to compress/token embeddings


For data preprocessing, we should probably consider the following high level steps:

- General preprocessing
    - replacing '&amp;' with '&' for example
    - shortening words with repeated letters: 'the computer is slowwwww' -> 'the computer is slow'
    
    
- Embedding specific preprocessing:
    - GloVe:
        - tokenize and lowercase using Stanford Tokenizer
    - Bert:
        - ?
        
After more dicussion to keep things simple the following will be done in this notebook
- denormlize data down to the entity/attribute - sentence level
- generate statistics for attributes and entities
- start with standard tokenization

## Setup Notebook

This is the basic Notebook used for all our experiments. Before we can access our data, code and models, we first have to import them from GitHub.
See possibilities for authentication: https://stackoverflow.com/questions/48350226/methods-for-using-git-with-google-colab

In [1]:
import os
from pathlib import Path
import sys

In [0]:

from getpass import getpass
import urllib
from google.colab import output

user = input('User name: ')
password = getpass('Password: ')
password = urllib.parse.quote(password) # your password is converted into url format
repo_name = "kylehiroyasu/opinion-lab-group-1.3"

cmd_string = 'git clone https://{0}:{1}@github.com/{2}.git'.format(user, password, repo_name)

os.system(cmd_string)
# Removing the password from the variable
cmd_string, password = "", "" 

# Remove the output of this cell (removes authetication information)
output.clear()

Change the directory to the repository and pull latest changes (if any). Display the directory content and set basic datapaths.

In [ ]:
%cd opinion-lab-group-1.3/
! git pull
! ls

In [ ]:
%pip install -r ../requirements.txt

In [ ]:
!python -m spacy download en_core_web_sm

## Constants

In [2]:
ROOT = Path(os.getcwd())/'..'
DATA = ROOT/'data'
SRC =  ROOT/'src'
RAW_DATA = DATA/'raw'
RAW_FILES = [
    'ABSA16_Laptops_Train_SB1.xml',
    'ABSA16_Laptops_Test_SB1_GOLD.xml',
    'ABSA16_Restaurants_Train_SB1.xml',
    'ABSA16_Restaurants_Test_SB1_GOLD.xml'
]

INTERIM_DATA = DATA/'interim'

In [3]:
sys.path.append(str(SRC))

## Imports

In [4]:
import numpy as np
import preprocess

## Data Import and Preprocessing

All the data is stored in `data/raw` as `xml` files. The data is stored in an hierarchical format of course with information stored in tags and tag properties.

To make the data easier to work with we've created functionality to denormalize the datasets.

In [5]:
laptops_train = preprocess.load_data_as_df(RAW_DATA/RAW_FILES[0])
laptops_test = preprocess.load_data_as_df(RAW_DATA/RAW_FILES[1])

restaurants_train = preprocess.load_data_as_df(RAW_DATA/RAW_FILES[2])
restaurants_test = preprocess.load_data_as_df(RAW_DATA/RAW_FILES[3])

### Sample

In [6]:
laptops_train.head()

,rid,id,text,entity,attribute,polarity,outofscope
0,79,79:0,Being a PC user my whole life....,NaN,NaN,NaN,NaN
1,79,79:1,This computer is absolutely AMAZING!!!,LAPTOP,GENERAL,positive,NaN
2,79,79:2,10 plus hours of battery...,BATTERY,OPERATION_PERFORMANCE,positive,NaN
3,79,79:3,super fast processor and really nice graphics ...,CPU,OPERATION_PERFORMANCE,positive,NaN
4,79,79:3,super fast processor and really nice graphics ...,GRAPHICS,GENERAL,positive,NaN

### Examing Potential Problems

In [7]:
laptop_text = laptops_train.text.unique().tolist()

In [8]:
laptops_train.to_csv(INTERIM_DATA/'laptops_train.csv', columns=['text'], index=False)

In [9]:
len(laptop_text)

2493

In [10]:
laptop_text[0:5]

['Being a PC user my whole life....',
 'This computer is absolutely AMAZING!!!',
 '10 plus hours of battery...',
 'super fast processor and really nice graphics card..',
 'and plenty of storage with 250 gb(though I will upgrade this and the ram..)']

Laptop problems:
Since the dataset is so small and relatively clean it is easy to identify problems:

- 'W-O-W'
- 'P-E-R-F-E-C-T'
- 'knew\xa0exactly\xa0what'
- 'so\xa0carrying\xa0it', more generally this '\xa0' symbol appears sometimes
- writing everything in caps
- smileys: ':)' or '=)'
- '...'
- 'THIS LAPTOP WAS BAD FROM THE FIRST DAY OF USE----BROUGHT IT BACK TO STORE FOR RETURN OF MONEY.'
- 'WILL NOT EVERY BUY ANOTHER--------LOU'
- 'words like 'sooooo' or 'uhhh' or 'slowwww'

In [11]:
restaurants_text = restaurants_train.text.unique().tolist()

In [12]:
len(restaurants_text)

1995

In [13]:
restaurants_text[0:5]

['Judging from previous posts this used to be a good place, but not any longer.',
 'We, there were four of us, arrived at noon - the place was empty - and the staff acted like we were imposing on them and they were very rude.',
 'They never brought us complimentary noodles, ignored repeated requests for sugar, and threw our dishes on the table.',
 'The food was lousy - too sweet or too salty and the portions tiny.',
 'After all that, they complained to me about the small tip.']

Problems:

- '....'
- '!!'
- ' -- '
- 'mmmmmm'
- 'LLOOVVE THIS PLACE.'
- ';-)'
- 'looove'

Funnily after testing some of these scenarios, a lot of these cases aren't actually a problem for GloVe embeddings because flair takes care of a lot of the issue mentioned above. Additionally things like smilies are included in the embedding dictionary. This means the most important part is making sure that the tokenizer works correctly.

Additional small cleanup includes:

- replacing the \xa0 symbol with ' '
- correcting the spelling on love with repeated letters
- 'W-O-W' and 'P-E-R-F-E-C-T'

The way I'll try and guarantee that tokenization goes well is by doing a tokenization pass with spacy, removing any stop words and then rejoing using a spacy.

## Laptop Corpus Statistics

In [8]:
training_examples = laptops_train.shape[0]
testing_examples = laptops_test.shape[0]

'There are {} training examples, and {} testing examples'.format(training_examples, testing_examples)

'There are 3370 training examples, and 1036 testing examples'

In [9]:
laptops_test.pivot?

In [17]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [18]:
laptops_train[['entity', 'attribute']].pivot_table(index=['entity'], 
                                                   columns=['attribute'], 
                                                   aggfunc=np.size, 
                                                   fill_value=0)

attribute,CONNECTIVITY,DESIGN_FEATURES,GENERAL,MISCELLANEOUS,OPERATION_PERFORMANCE,PORTABILITY,PRICE,QUALITY,USABILITY
entity,,,,,,,,,
BATTERY,0,0,0,2,172,0,0,18,0
COMPANY,0,0,180,0,0,0,0,0,0
CPU,0,2,0,2,34,0,0,4,0
DISPLAY,0,56,48,0,28,0,0,106,12
FANS_COOLING,0,2,0,0,2,0,0,8,0
GRAPHICS,0,4,32,4,0,0,0,12,0
HARDWARE,0,0,4,0,2,0,0,8,0
HARD_DISC,0,28,0,0,0,0,0,22,0
KEYBOARD,0,58,26,0,18,0,0,36,42
LAPTOP,110,506,1268,284,556,102,272,448,282
MEMORY,0,32,0,0,0,0,0,0,0
MOTHERBOARD,0,0,0,0,0,0,0,14,0
MOUSE,0,28,14,0,56,0,0,28,46
MULTIMEDIA_DEVICES,0,8,12,2,10,0,0,52,8
OPTICAL_DRIVES,0,0,0,0,2,0,0,10,0
OS,0,4,70,4,18,0,0,8,42
PORTS,0,2,0,0,2,0,0,8,0
POWER_SUPPLY,0,6,0,2,8,0,0,22,0
SHIPPING,0,0,0,0,0,0,6,18,0
SOFTWARE,0,12,62,26,32,0,2,4,34
SUPPORT,0,0,0,4,0,0,12,276,0
WARRANTY,0,0,8,0,0,0,4,0,0

In [15]:
tmp = laptops_train[['entity', 'attribute']].pivot_table(index=['entity'], 
                                                   columns=['attribute'], 
                                                   aggfunc=np.size, 
                                                   fill_value=0)

In [11]:
laptops_test[['entity', 'attribute']].pivot_table(index='entity', 
                                                  columns=['attribute'], 
                                                  aggfunc=np.size, 
                                                  fill_value=0)

attribute,CONNECTIVITY,DESIGN_FEATURES,GENERAL,MISCELLANEOUS,OPERATION_PERFORMANCE,PORTABILITY,PRICE,QUALITY,USABILITY
entity,,,,,,,,,
BATTERY,0,2,0,0,38,0,0,10,0
COMPANY,0,0,76,0,0,0,0,0,0
CPU,0,6,2,2,4,0,0,0,0
DISPLAY,0,26,8,0,16,0,0,40,10
FANS_COOLING,0,0,0,0,4,0,0,0,0
GRAPHICS,0,4,0,2,0,0,0,0,0
HARDWARE,0,0,0,0,0,0,0,8,0
HARD_DISC,0,26,4,0,10,0,0,2,0
KEYBOARD,0,14,4,0,18,0,0,14,12
LAPTOP,26,146,316,68,140,12,50,94,92
MEMORY,0,16,0,0,0,0,0,0,0
MOTHERBOARD,0,0,0,0,0,0,0,4,0
MOUSE,0,8,8,0,6,0,0,4,26
MULTIMEDIA_DEVICES,0,12,6,0,0,0,0,14,2
OPTICAL_DRIVES,0,4,2,0,0,0,0,0,0
OS,0,10,18,4,2,0,0,4,30
PORTS,0,0,0,0,4,0,0,0,0
POWER_SUPPLY,0,2,2,0,0,0,0,0,0
SHIPPING,0,0,0,0,0,0,0,2,0
SOFTWARE,0,2,10,0,4,0,2,2,14
SUPPORT,0,0,0,0,0,0,4,66,0
WARRANTY,0,0,2,0,0,0,0,0,0

## Restaurant Corpus Statistics

In [12]:
training_examples = restaurants_train.shape[0]
testing_examples = restaurants_test.shape[0]

'There are {} training examples, and {} testing examples'.format(training_examples, testing_examples)

'There are 2799 training examples, and 948 testing examples'

In [13]:
restaurants_train[['entity', 'attribute']].pivot_table(index='entity', 
                                                       columns='attribute', 
                                                       aggfunc=np.size, 
                                                       fill_value=0)

attribute   GENERAL  MISCELLANEOUS  PRICES  QUALITY  STYLE_OPTIONS
entity
AMBIENCE        510              0       0        0              0
DRINKS            0              0      40       94             64
FOOD              0              0     180     1698            274
LOCATION         56              0       0        0              0
RESTAURANT      844            196     160        0              0
SERVICE         898              0       0        0              0

In [126]:
restaurants_test[['entity', 'attribute']].pivot_table(index='entity', 
                                                      columns='attribute', 
                                                      aggfunc=np.size, 
                                                      fill_value=0)

attribute   GENERAL  MISCELLANEOUS  PRICES  QUALITY  STYLE_OPTIONS
entity
AMBIENCE        132              0       0        0              0
DRINKS            0              0       8       44             24
FOOD              0              0      46      626            110
LOCATION         26              0       0        0              0
RESTAURANT      284             66      42        0              0
SERVICE         310              0       0        0              0

## Save Changes to Env

In [137]:
%pip freeze > ../requirements.txt

Note: you may need to restart the kernel to use updated packages.